.comment-box{
  overflow: scroll;
  height: calc( 100% - 150px );
}

.comment-form{
  height: 134px;
  padding: 5px;
}

.c-textarea{
  display: block;
  width: 100%;
  height: 92px;
  margin-bottom: 5px;
}
.c-receive-btn{
  display: block;
  text-decoration: none;
  height: 25px;
  width: 70px;
  background-color: rgb(59, 149, 227);
  color: white;
  font-size: 15px;
  text-align: center;
  
}

.c-submit-btn{
  display: block;
  height: 35px;
  width: 145px;
  background-color: rgb(227, 115, 59);
  font-size: 15px;
  color: white;
  margin: auto;
}