
<%= render partial: "shared/header" %>

<div class="window">
  <div class="side-contents">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="index-space">
    <%= render partial: 'shared/summaries', locals: { articles: @articles } %>
  </div>
</div>
