
<%= render partial: "shared/header" %>

<div class="window">
  <div class="side-contents">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="main-contents">
    <div class="article-space">
      <div class="article-block">
        <div class="article-title">
          タイトル
        </div>

        <div class="article-text"></div>
      </div>
    </div>
  </div>
</div>
