<%= render 'shared/header' %>

<div class="window">
  <div class="side-contents">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="main-contents">
    <%=  react_component("preview", article: @article.attributes) %>
  </div>
</div>