<%= render 'shared/header' %>

<div class="window">
  <div class="side-contents">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="main-contents">
    <%= render partial:'shared/articlebox_react_test', locals: { article: @article } %>
  </div>
</div>