
.article-box{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: calc( 100vh - 126px);
  width: 100%;
}

.article-form{
  height: calc( 100vh - 126px);
  background-color: lightgray;
  width: 50% ;
  padding: 15px;
}

.article-labels{
  font-size: 25px;
}

.article-title-field{
  height: 25px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}

.title-field{
  margin-bottom: 10px;
}



.article-text-field{
  height: 25px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  overflow: scroll;
}

.article-preview{
  height: calc( 100vh - 126px);
  width: 50% ;
  padding: 15px;
  background-color: lightgray;
  border-left: mediumblue 5px double;
}