<div class="well">
  <h2><%= comment.id %></h2>
  <p class="text-muted">Added by <strong><%= comment.user.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= comment.text %></p>
  </blockquote>
</div>