<header　class="application_header">
  <div>
    <%= link_to 'Logic_space_proto', root_path, class: "home_logo" %>
  </div>
  <div>
    <%= link_to '#', class: "link_btn" do %>
      
    <% end %>
    <%= link_to '#' do %>
    <% end %>
  </div>
</header>