
<header class="application-header">
  <div class="header-left-contents">
    <%= link_to 'Logic-space-proto', root_path, class: "home-logo" %>
  </div>
  <div class="header-right-contents">
    <%= link_to 'ログイン','#', class: "header-link-btn" %>
    <%= link_to '新規登録','#', class: "header-link-btn" %>
  </div>
</header>