
<header class="application-header">
  <div class="header-left-contents">
    <%= link_to 'Logic-space-proto', root_path, class: "home-logo" %>
  </div>
  <div class="header-right-contents">
    <%= link_to_unless_current 'ログイン', new_user_session_path, class: "header-link-btn" %>
    <%= link_to_unless_current '新規登録' , new_user_registration_path, class: "header-link-btn" %>
  </div>
</header>