
<header class="application-header">
  <div>
    <%= link_to 'Logic-space-proto', root_path, class: "home-logo" %>
  </div>
  <div>
    <%= link_to '#', class: "header_link_btn" do %>
      <p>新規登録</p>
    <% end %>
    <%= link_to '#', class: "header_link_btn" do %>
      <p>ログイン</p>
    <% end %>
  </div>
</header>