/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.application-header {
  background-color: #2a5979;
  height: 66px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.header-left-contents {
  display: flex;
  align-items: center;
}

.home-logo {
  padding-left: 30px;
  text-decoration: none;
  color: #ed8540;
}

.header-right-contents{
  display: flex;
  align-items: center;
}

.window{
  height: calc( 100vh - 66px );
  display: flex;
  background-color: rgb(5, 41, 45);
}

.header-link-btn{
  padding: 0px 15px;
  text-decoration: none;
  color: #ed8540;
}

.side-contents{
  width: 180px;
  background-color: #004e66;
  padding: 15px;
}
.main-contents{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.article-title{
  padding: 5px, 15px ;
  font-size: 30px;
}

.article-space{
  width: calc( 100vw - 580px );
  height: calc( 100vh - 72px );
  padding: 0px, 15px;
}

.article-block{
  padding: 15px;
  width: calc( 100vw - 610px );
  height: calc( 100vh - 110px );
  background-color: lightgrey;
}
.comment-space{
  background-color: linen;
  width: 400px;
}

.root-comment{
  background-color: linen;
  border: black 2px solid;
  margin: 15px;
}

.comment-header{
  border-bottom: black 1px solid;
  display: flex;
  justify-content: space-between;
}

.comment-number{
  margin: 0px, 5px;
}

.comment-user{
  margin: 0px, 5px;
}

.comment-created_at{
  margin: 0px, 5px;
}

.comment-center{
  border-bottom: black 1px solid;
}

.comment-footer{
  border-bottom: black 1px solid;
}

.branch-box{
  border-left: blue 5px solid ;
}

.branch-comment{
  background-color: linen;
}

.user-background{
  height: calc(100vh - 66px);
  padding: 15px;
  background-color: lightgray;
}

